body {
  padding: 25px;
  background-color: white; 
  color: black;
  font-size: 24px;
  margin: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  transition: background-color 150ms ease, color 150ms ease;
}

.dark-mode {
  background-color: #2b2a33;
  color: white;
}
