body {
  padding: 25px;
  background-color: #2b2a33; 
  color: #ffffff;
  font-size: 24px;
  margin: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  transition: background-color 150ms ease, color 150ms ease;
}

.light-mode {
  background-color: white;
  color: #2b2a33;
}
